<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- Bootstrap Core CSS -->
    <!-- Custom CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <title>Mon appli MOVIES</title>
  </head>

  <header>
	<h1>Bienvenue sur le site MOVIES</h1>  
  </header>
  <body>

        <div class="title">
          <h2>
            CHOIX du FILM
          </h2>
	<div class="content">
       <p>Saisisser le titre du film :<mark>{{ msg }}</mark></p>
       <form action="" method="post">
	    <input type="text" name="titre" /><input type="submit" value="Envoyer" />
        </form>
	</div>
	</div>
  </body>
</html>