<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- Bootstrap Core CSS -->
    <!-- Custom CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <title>Mon appli MOVIES</title>
  </head>
  <header>
	<h1>Bienvenue sur le site MOVIES</h1>  
  </header>
  <body>
 	<div class="content">
       <p>Vous avers choisi :{{ titre }}</p>
      
      <div class="row">
        <p>Ces autres films pourraient vous interesser :</p>
  	{% for table in tables %}
		{{ table|safe }}
  	{% endfor %}
	</div>
	</div>
   </body>
</html>